* {
  font-family: 'inter';
  line-height: 160%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  background-image: url('./assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  background-color: #121214;
  color: white;
}


header{
  padding-top: 32px;
  text-align: center;
}

header img {
  width: 15rem;
}

main{
  max-width: 36rem;
  width: 90%;
  margin: 3rem auto;
}

section{
  background-image: linear-gradient(to right, #9572fc 0%, #43e7ad 50%, #e2d45c 100%);
  border-radius: 0.625rem;
  padding-top: 4px;
}

section > div{
  padding: 2rem;
  padding-top: 1.5rem;
  border-radius: 0.5rem;
  background-color: #2a2634;
}

section h2 {
  letter-spacing: -0.47px;
}

section p{
  letter-spacing: -0.18px;
  color: #a1a1aa;
}
/* Animações */
main section {
  opacity: 0;  
  transform: translateY(2rem);

  animation-name: appear;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}

@keyframes appear {
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

form{
  display: flex;
  gap: 0.85rem;
  flex-wrap: wrap;
  margin: 1.25rem 0;
}

input, select{
  all: unset;
  border: 2px solid #9147ff;
  border-radius: 0.5rem;
  padding: 0.675rem;
  font-size: 0.875rem;
  background-color: #00000065;
}

input{
  flex: 1;
}

button{
  width: 100%;
  border: 0;
  background-image: linear-gradient(to left, #9572fc 0%, #43e7ad 50%, #e2d45c 100%);
  padding: 0.675rem;
  border-radius: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.12px;

  transition: all 0.3s;
}

button:hover{
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0 5px 1rem rgba(255, 248, 107, 0.2);
}

button:disabled{
  transition: none;
  transform: translate(0);
  box-shadow: initial;
  cursor: not-allowed;
  color: black;
}

#aiResponse{
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  padding: 1.25rem;
  border-left: 4px solid #43e7ad;
}

#aiResponse ul {
  padding: 1.5rem;
  opacity: 0.7;
}

#aiResponse p {
  color:white;
}

.loading{
  animation: pulse 1s infinite;
}

.hidden{
  display: none;
}

@keyframes pulse {
  50%{
    opacity: 0.5;
  }

}